@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.message-box{
  scroll-behavior: smooth;
}
.message-box::-webkit-scrollbar{
  display: none;
}